/* src/ui/components/SidebarHeader/SidebarHeader.css */
.ms-sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 15px 5px 20px;
  font-size: 11px;
  text-transform: uppercase;
  color: var(--ms-text-main);
  flex-shrink: 0;
}

.ms-sidebar-action-icon {
  cursor: pointer;
  opacity: 0.7;
  display: flex;
  align-items: center;
  padding: 2px;
  transition: opacity 0.2s;
}

.ms-sidebar-action-icon:hover {
  opacity: 1;
}